.player {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #181818;
  color: #ffffff;
  z-index: 1100;
}

.album-art {
  object-fit: contain;
  height: calc(100% - 200px);
  width: 100%;
  max-height: calc(100% - 200px);
  max-width: 100%;
  margin: auto;
}

.hidden-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  margin: 10px;
  cursor: pointer;
  z-index: 1101;
}

.controls-wrapper {
  display: flex;
  flex-direction: column;
  object-fit: contain;
  height: 200px;
  width: 100%;
  bottom: 0;
  background: #252525;
}

.name-wrapper {
  height: 20px;
  margin: 10px;
}

.name {
  text-align: center;
  width: 100%;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.seek-bar-wrapper {
  display: flex;
  width: 100%;
  margin: 20px 0;
}

.seek-bar {
  flex: 1;
  height: 5px;
  margin: auto 0;
  border-radius: 2px;
  color: orange;
  background-color: #cccccc;
  cursor: pointer;
}

.seek-bar::-webkit-progress-value {
  background-color: orange;
}

.seek-bar::-webkit-progress-var {
  background-color: #cccccc;
}

.seek-bar::-moz-progress-bar {
  background-color: orange;
}

.current-time {
  margin: 0 10px 0 10px;
  font-size: 11px;
}

.duration {
  margin: 0 10px 0 10px;
  font-size: 11px;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.empty {
  width: 30px;
  height: 30px;
}

.prev-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.play-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.next-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.repeat-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.mini-player {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #252525;
  color: #ffffff;
  height: 70px;
  width: 100%;
  cursor: pointer;
  z-index: 1100;
}

.mini-player-content {
  position: absolute;
  display: flex;
  left: 0;
  width: calc(100% - 60px);
  justify-content: start;
  margin-right: 60px;
}

.album-art-mini {
  object-fit: contain;
  height: 50px;
  width: 50px;
  max-height: 100%;
  max-width: 100%;
  margin: 10px 10px 20px 10px;
}

.name-mini-wrapper {
  height: 20px;
  width: calc(100% - 100px);
  margin: 20px 20px 0 20px;
}

.name-mini {
  width: 100%;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.play-button-mini {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 30px;
  top: 20px;
  cursor: pointer;
  z-index: 1101;
}

.seek-bar-mini {
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #181818;
}

.seek-bar-mini::-webkit-progress-value {
  background-color: orange;
}

.seek-bar-mini::-webkit-progress-bar {
  background-color: #181818;
}

.seek-bar-mini::-moz-progress-bar {
  background-color: orange;
}
